/* Global rules */

body {
    background-color: white;
    width: 100vw;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
 }

 #main {
     position: relative;
     max-height: 100vh;
 }

 #content-wrap {
     padding-bottom: 2.5rem;
 }

/* Navigation rules */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99vw;
}

.navbar li {
    display: inline;
}

.navbar li:hover {
    text-decoration: underline;
}

.left-nav {
    padding-left: 0;
    width: 70vw;
    text-align: left;
}

.left-nav li {
    padding-right: 10px;
}

.right-nav {
    margin-right: 0;
    padding-right: 10px;
    
}

.right-nav li {
    padding: 0px 10px;
}

/* Main rules */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 25px auto;
}

/* Search */

/* Search box and buttons */
.search-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Search bar */
.search-bar {
    width: 99vw;
}

.search-bar input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 25px;
    width: 400px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.search-bar input:hover {
    -moz-box-shadow:  2px 3px 5px 6px #ccc;
  -webkit-box-shadow: 2px 3px 5px 6px #ccc;
  box-shadow:         2px 3px 5px 6px #ccc;
  width: 500px;
  height: 20px;
}

  /* Search buttons */
.btn-space {
    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.btn-tile {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    height: 50px;
}

.btn-tile input {
    text-align: center;
    padding: 5px 0px;
    opacity: 75%;
    font-family: Arial, Helvetica, sans-serif;
    width: 130px;
}

/* Footer */

#footer {
   display: block;
   position: fixed;
   bottom: 0;
   width: 100%;
   left: 0;
}

#fbar {
    background-color: rgb(243, 243, 243);
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#fbar-t {
    padding-left: 20px;
    border-bottom: 1px solid #e4e4e4;;
}

#fbar-b-r {
    float: right;
    margin-right: 20px;
    padding-right: 10px;
}

#fbar-b-l {
    padding-left: 20px;
}

.fbar-b-r-a {
    padding-right: 5px;
}

.fbar-b-l-a {
    padding-right: 5px;
}